@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Sansita:wght@400;700&display=swap');


/*  Contenedor General  */
.containerCount{
    padding-top: 5%;
    height: 30%;
    background-color: #FFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
/*  Agregar al Carrito  */
.contenedor-agregar-al-carrito{
    justify-content: center;
    display:flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 2% ;
}
    .contenedor-agregar-al-carrito button{
        background: #FFFFFF;
        border: 2px solid #F41316;
        box-sizing: border-box;
        border-radius: 30px;
        font-family: 'Sansita', 'Times New Roman', Times;
        font-weight: 700;
        color: #F41316;
    }
    

    .contenedor-agregar-al-carrito a{
        font-family: 'Sansita', 'Times New Roman', Times;
        font-weight: 700;
        font-size: 1rem;
        color: #75CFDB;
        text-decoration: none;
        margin-bottom: 2%;
    }

/*  sumar cantidad  */
.contenedor-Buttons{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}
    .contenedor-Buttons button{
        background: #FFFFFF;
        border: none;
        background: none;
        cursor: pointer;
        box-shadow: none;
    }

.displayCant{
    border: 2px solid #75CFDB;
    box-sizing: border-box;
    width: 75px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
}
    .displayCant p {
        font-family: 'Sansita', 'Times New Roman', Times;
        font-weight: 700;
        color: #75CFDB;
    }

